<%= form_with(model: @picture,local: true,url: new_or_edit) do |form| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
        <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
        <ul>
            <% @picture.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
  <% end %>
  <table>
    <tr>
      <div class="picture_comment">
        <td><%= form.label :comment %></td>
        <td><%= form.text_field :comment %></td>
      </div>
    </tr>
    <tr>
      <div class="field">
        <td><%= form.label :picture %></td>
        <td><%= form.file_field :picture, id: :picture_picture %></td>
        <%= form.hidden_field :picture_cache %>
      </div>
    </tr>
  </table>
  <%= form.submit %>
<% end %>

<%= link_to '一覧に戻る',pictures_path %>